<!DOCTYPE html>
<html>

   <head>
      <title>ADD ITEM</title>
   </head>
	
   <body>
      <form >
         Name: <input type = "text" name = "name" />
         <br>
         Price: <input type = "number" name = "price" />
         <br>
         Weight: <input type = "number" name = "weight" />
         <br>
         KCal: <input type = "number" name = "kcal" />
      </form>
      <div>
        <button type="button">ADD</button>
        <button type="button">UPDATE</button>
        <button type="button">DELETE</button>
    </div>  
   </body>
	
</html>